{% extends 'base.html.twig' %}

{% block title %}Colleague index{% endblock %}

{% block body %}
    <h1>Colleague index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Contact</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for colleague in colleagues %}
            <tr>
                <td>{{ colleague.id }}</td>
                <td>{{ colleague.firstName }}</td>
                <td>{{ colleague.lastName }}</td>
                <td>{{ colleague.contact }}</td>
                <td>
                    <a href="{{ path('colleague_show', {'id': colleague.id}) }}">show</a>
                    <a href="{{ path('colleague_edit', {'id': colleague.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('colleague_new') }}">Create new</a>
{% endblock %}